$dark-purple: #3b015c;
$purple: #7b0c8b;
$pink: #dd3b76;
$dark-blue: #25077f;
$test-color-1: #fa7487;
$bg-dark-1: #1d0421;
$bg-dark-2: #0b0225;
$light-text-color: #e9e3e5;
$react-blue: #61DBFB;
$html-orange: #e34c26;
$css-blue: #264de4;
$js-yellow: #f7df1e;
$fb-orange: #FFA611;
$red-purple: #764abc;